.margin_top {
	margin-top: 15px;
	padding-left: 0;
}

.input {
	width: 100%;
	height: 180px;
	resize: vertical;
}

#preview{
	padding: 0;
}

.image_task {
	width: 320px;
	max-width: 320px;
	max-height: 240px;
}