<form class="navbar-form navbar-left" role="form" method="post" action="/admin/login">
	<div class="form-group">
		<input name="login" type="text" placeholder="Login" class="form-control">
	</div>
	<div class="form-group">
		<input name="password" type="password" placeholder="Password" class="form-control">
	</div>
	<button type="submit" name="submit" value="Sign in" class="btn btn-success">Sign in</button>
	<span class="text-danger"><?=$message?></span>
</form>
