<!--Вывод возможных сортировок-->

<div class="col-nd-12 text-center">
			<span>
				Sort task by:
				<a href="/admin/index/?page=<?=$pages['page']?>&sort=name">Name</a>
				<a href="/admin/index/?page=<?=$pages['page']?>&sort=status">Status</a>
				<a href="/admin/index?page=<?=$pages['page']?>&sort=email">E-mail</a>
			</span>
</div>
<br>


<!--Перебор все задач и вывод их-->
<?php
foreach ($array as $task)
{
	$status = $task['status'] ? 'panel-success' : 'panel-warning';
	?>
	<div class="col-md-12">
		<div class="panel <?=$status?>">

			<div class="col-md-12 panel-heading">
				<div class="panel-title">
					<span class="text-left"><?=$task['user_name']?></span><br>
					<span class="text-left"><?=$task['email']?></span>
					<form action="/admin/change" method="post">
						<input type="hidden" name="id" value="<?=$task['id']?>">
					<?php
					if ($task['status'])
						echo "<button name=\"change\" value=\"0\" class=\"btn 
						btn-danger\">Incomplete</button>";
					else
						echo "<button name=\"change\" value=\"1\" class=\"btn 
						btn-success\">Complete</button>";
					?>
					</form>
				</div>
			</div>
			<div class="panel-body">
				<div class="col-md-5 margin_top">
					<img class="image_task" src="/<?= $task['image']?>" alt="image">
				</div>
				<div class="col-md-7 margin_top">
					<form action="/admin/edit" method="post">
						<textarea class="input" name="text" type="text"><?=$task['text']?></textarea>
						<button name='id' value="<?=$task['id']?>" class="btn btn-success">Edit</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<?php
}

if (!empty($pages)) {
	?>


<!--ПАГИНАЦИЯ-->
	<div class="col-md-12 text-center">
			<span>

		<?php if ($pages['page'] != 1) { ?>
			<a href="/admin/index/?page=<?= $pages['prev'] . '&sort=' . $sort ?>"><</a>
		<?php }
		echo $pages['page'];
		?>
				<?php if ($pages['page'] != $pages['max_page']) { ?>
					<a href="/admin/index/?page=<?= $pages['next'] . '&sort=' . $sort ?>">></a>
				<?php } ?>
			</span>
	</div>
	<?php
}