<!--Вывод возможных сортировок-->
	<div class="col-nd-12 text-center">
			<span>
				Sort task by:
				<a href="/?page=<?=$pages['page']?>&sort=name">name</a> |
				<a href="/?page=<?=$pages['page']?>&sort=status">status</a> |
				<a href="/?page=<?=$pages['page']?>&sort=email">e-mail</a>
			</span>
	</div>
<br>


<!--Перебор все задач и вывод их-->
<?php
	foreach ($array as $task)
	{
		$status = $task['status'] ? 'panel-success' : 'panel-warning';
		?>


		<div class="col-md-12">
			<div class="panel <?=$status?>">
				<div class="col-md-12 panel-heading">
					<div class="panel-title">
						<span class="text-left"><?=$task['user_name']?></span><br>
						<span class="text-left"><?=$task['email']?></span>
					</div>
				</div>
				<div class="panel-body">
					<div class="col-md-5 margin_top">
						<img  class="image_task" src="<?=$task['image']?>" alt="image">
					</div>
					<div class="col-md-7 margin_top">
						<span class=""><?=$task['text']?></span>
					</div>
				</div>
			</div>
		</div>
	<?php
	}
		if (!empty($pages))

{
	?>

	<!--ПАГИНАЦИЯ-->
		<div class="col-md-12 text-center">
			<span>

		<?php if ($pages['page'] != 1) {?>
				<a href="/?page=<?=$pages['prev'].'&sort='.$sort?>"><</a>
		<?php }
			echo $pages['page'];
		?>
		<?php if ($pages['page'] != $pages['max_page']) {?>
				<a href="/?page=<?=$pages['next'].'&sort='.$sort?>">></a>
		<?php } ?>
			</span>
		</div>
	<?php
}
