<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap -->
	<link href="/webroot/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/webroot/css/main.css">


</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/"">Main</a></li>
				<li><a href="/task/add">New task</a></li>
				<li><a href="/admin/index">Admin</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
<div class="jumbotron">
	<div class="container margin_top">
		<?=$content?>
	</div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/webroot/js/bootstrap.min.js"></script>
</body>
</html>
