<?php
	if (isset($message))
		echo "<h3> $message";
	if (!isset($_SESSION['task_form']))
		$_SESSION['task_form'] = array('', '', '');
	?>


<form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input name="user_name" type="text" class="form-control" id="inputEmail3" placeholder="Name"
				   value="<?=$_SESSION['task_form'][0]?>" >
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="email" name="email" value="<?=$_SESSION['task_form'][1]?>" class="form-control" id="inputEmail3" placeholder="Email">
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Task</label>
		<div class="col-sm-10">
			<input type="text" name="text" value="<?=$_SESSION['task_form'][2]?>" class="form-control"
				   id="inputEmail3" placeholder="Task">
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">File</label>
		<div class="col-sm-10">
			<input style="font-size: initial; padding-top: 10px" type="file" id="exampleInputFile" name="img" multiple
				   accept="image/*">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button name="submit" value="Add task" type="submit" class="btn btn-default">Add task</button>
		</div>
	</div>
</form>


	<button class="btn btn-default" onclick="
		var formData = new FormData($('form')[0]);

	  $.ajax({
		processData: false,
  		contentType: false,
  		type: 'POST',
		url: '/task/previous',
		data: formData,
		success: function(data){
		document.getElementById('pre_img').src = data + '?' + Math.random();
		console.log(document.getElementsByName('user_name'));
		document.getElementById('pre_name').innerHTML = document.getElementsByName('user_name')[0].value;
		document.getElementById('pre_email').innerHTML = document.getElementsByName('email')[0].value;
		document.getElementById('pre_text').innerHTML = document.getElementsByName('text')[0].value;
		$('#preview').css('display', 'block');

  }
});
	">Preview</button>

	<div class="col-md-12 panel panel-warning" id="preview" style="display: none">
		<div class="col-md-12 panel-heading">
			<div class="panel-title">
				<span id="pre_name" class="text-left"></span><br>
				<span id="pre_email" class="text-left"></span>
			</div>
		</div>
		<div class="panel-body">
			<div class="col-md-5 margin_top">
				<img id="pre_img" style="width: 320px; max-width: 320px; max-height: 240px" src="" alt="image">
			</div>
			<div  class="col-md-7 margin_top">
				<span id="pre_text"></span>
			</div>
		</div>
	</div>
